<div class=" flex justify-center items-center h-[100vh]">
  <div class="w-[60%] h-[85vh]">
    <mat-card class="h-[100%]">
      <mat-card-content>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" (selectedTabChange)="tabChange($event)" #tabGroup>
          <mat-tab label="ADD DATA">
            <div class="my-5">
              
              <form [formGroup]="addDataForm" (ngSubmit)="onFormSubmit()">

                  <div class=" grid grid-cols-2 gap-5">
                    <div>
                      <mat-form-field class="w-[100%]">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker" [max]="maxDate" formControlName="dateTime">
                        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>

                      <div class="h-2">
                        <small class="text-[red] font-normal" *ngIf="this.addDataForm.get('dateTime')?.errors?.['required'] && this.addDataForm.get('temperature')?.touched">Date is required</small>
                      </div>
                    </div>
  
                    <div>
                      <mat-form-field class="w-[100%]">
                        <mat-label>Temperature in celsius</mat-label>
                        <input matInput type="number" max="50" min="-50" formControlName="temperature">
                      </mat-form-field>

                      <div class="h-2">
                        <small class="text-[red] font-normal" *ngIf="this.addDataForm.get('temperature')?.errors?.['required'] && this.addDataForm.get('temperature')?.touched">Temperature is required</small>
                        <small class="text-[red] font-normal" *ngIf="(this.addDataForm.get('temperature')?.errors?.['min'] || this.addDataForm.get('temperature')?.errors?.['max']) && this.addDataForm.get('temperature')?.touched">min value: -50 & max value: 50</small>
                      </div>
                    </div>
                  </div>
                  


                  <div class="flex justify-center mt-10">
                    <button type="submit" 
                    class="border border-[#444] rounded-[8px] py-2 px-10 mt-4" 
                    >ADD</button>
                </div>

              </form>

            </div>
          </mat-tab>


          <mat-tab label="VIEW DATA">
            <div >
              <canvas baseChart
                [data]="barChartData"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [type]="'bar'"
                height="400"
                width="800">
              </canvas>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->
